* {
    margin: 0;
}
/* class selector */
.navbar {
    display: flex;
}
/* id selector */

#Menu {
    font-size: 20px;
}

.logo {
    display: flex;
    padding:4px ;
}

.logo img {
    width: 100px;
    padding: 5px;
}

.search {
    padding: 4px;
}
.profiles {
    display: flex;
    padding: 4px;
}
/* tag selector */
h4 {
    padding: 5px;
}